{{fg.getRawValue() | json}}

<form nz-form [formGroup]="fg" nzLayout="vertical">
  <!-- ERROR TEMPLATE-->
  <ng-template #errorTpl let-control>
    <ng-container *ngIf="control.hasError('required')">
      필수 입력 값입니다.
    </ng-container>
  </ng-template>

  <!-- 1 row -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <!--상위 게시판 필드-->
      <app-nz-input-tree-select
        formControlName="boardParentId"
        [nodes]="parentBoardItems"
        [placeholder]="'상위 게시판 없음'" [nzErrorTip]="errorTpl" [required]="false">상위 게시판
      </app-nz-input-tree-select>
    </div>

    <div nz-col nzSpan="12">
      <!--게시판타입 필드-->
      <app-nz-input-select
        formControlName="boardType"
        [options]="boardTypeList" [opt_value]="'value'" [opt_label]="'label'"
        [placeholder]="'게시판타입을 선택해주세요.'" [nzErrorTip]="errorTpl" [required]="true">게시판타입
      </app-nz-input-select>
    </div>

  </div>

  <!-- 2 row -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="24">
      <!--게시판명 필드-->
      <app-nz-input-text #boardName
        formControlName="boardName"
        [itemId]="'boardName'"
        placeholder="게시판명을 입력해주세요."
        [required]="true" [nzErrorTip]="errorTpl">게시판 명
      </app-nz-input-text>
    </div>
  </div>

  <!--게시판설명 필드-->
  <app-nz-input-textarea
    formControlName="boardDescription"
    [itemId]="'boardDescription'"
    placeholder="게시판 설명을 입력해주세요."
    [rows] = "20"
    [required]="false" [nzErrorTip]="errorTpl">게시판 설명
  </app-nz-input-textarea>

</form>

<div class="footer">
  <app-nz-crud-button-group
    [isSavePopupConfirm]="false"
    (searchClick)="get(this.fg.value.boardId!)"
    (closeClick)="closeForm()"
    (saveClick)="save()"
    (deleteClick)="remove()">
  </app-nz-crud-button-group>
</div>
