{{fg.value | json}} - {{fg.valid}}
<form nz-form [formGroup]="fg" nzLayout="vertical">

  <!-- ERROR TEMPLATE-->
  <ng-template #errorTpl let-control>
    <ng-container *ngIf="control.hasError('required')">
      필수 입력 값입니다.
    </ng-container>
    <ng-container *ngIf="control.hasError('exists')">
      기존 코드가 존재합니다.
    </ng-container>
  </ng-template>

  <!-- 1 row -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <!--휴일 필드-->
      <app-nz-input-date
         formControlName="date" itemId="date"
        [required]="true" [nzErrorTip]="errorTpl">휴일
      </app-nz-input-date>
    </div>

    <div nz-col nzSpan="12">
      <!--휴일명 필드 -->
      <app-nz-input-text
         formControlName="holidayName" itemId="holidayName"
        placeholder="휴일명을 입력해주세요."
        [required]="true" [nzErrorTip]="errorTpl">휴일명
      </app-nz-input-text>
    </div>

  </div>

  <!-- 2 row -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="24">
      <!--설명 필드-->
      <app-nz-input-textarea
         formControlName="comment" itemId="comment"
        placeholder="설명을 입력해주세요."
        [rows]="25"
        [required]="false" [nzErrorTip]="errorTpl">설명
      </app-nz-input-textarea>
    </div>
  </div>

</form>

<div class="footer">
  <app-nz-crud-button-group
    [searchVisible]="false"
    [isSavePopupConfirm]="false"
    (closeClick)="closeForm()"
    (saveClick)="save()"
    (deleteClick)="remove()">
  </app-nz-crud-button-group>
</div>
