{{fg.getRawValue() | json}} - {{fg.valid}}
<form nz-form [formGroup]="fg" nzLayout="vertical">
  <!-- ERROR TEMPLATE-->
  <ng-template #errorTpl let-control>
    <ng-container *ngIf="control.hasError('required')">
      필수 입력 값입니다.
    </ng-container>
    <ng-container *ngIf="control.hasError('exists')">
      기존 코드가 존재합니다.
    </ng-container>
  </ng-template>

  <!-- 1 row -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="10">
      <app-nz-input-text #typeId
         formControlName="typeId" itemId="typeId"
        placeholder="구분ID를 입력해주세요."
        [required]="true" [nzErrorTip]="errorTpl">구분ID
      </app-nz-input-text>
    </div>

    <div nz-col nzSpan="10">
      <app-nz-input-text
         formControlName="typeName" itemId="typeName"
        placeholder="구분명을 입력해주세요."
        [required]="true" [nzErrorTip]="errorTpl">구분명
      </app-nz-input-text>
    </div>

    <div nz-col nzSpan="4">
      <app-nz-input-number-custom
         formControlName="sequence" itemId="sequence"
        [required]="true" [nzErrorTip]="errorTpl">출력 순번
      </app-nz-input-number-custom>
    </div>
  </div>

  <!-- 2 row -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="24">
      <app-nz-input-textarea
         formControlName="comment" itemId="comment"
        placeholder="설명을 입력해주세요."
        [rows] = "10"
        [required]="false" [nzErrorTip]="errorTpl">설명
      </app-nz-input-textarea>
    </div>
  </div>

  <!-- 3 row -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <app-nz-input-textarea
         formControlName="the1AddInfoDesc" itemId="the1AddInfoDesc"
        placeholder="설명을 입력해주세요."
        [rows] = "5"
        [required]="false" [nzErrorTip]="errorTpl">추가정보1 설명
      </app-nz-input-textarea>
    </div>
    <div nz-col nzSpan="12">
      <app-nz-input-textarea
         formControlName="the2AddInfoDesc" itemId="the2AddInfoDesc"
        placeholder="설명을 입력해주세요."
        [rows] = "5"
        [required]="false" [nzErrorTip]="errorTpl">추가정보2 설명
      </app-nz-input-textarea>
    </div>
  </div>

  <!-- 4 row -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <app-nz-input-textarea
         formControlName="the3AddInfoDesc" itemId="the3AddInfoDesc"
        placeholder="설명을 입력해주세요."
        [rows] = "5"
        [required]="false" [nzErrorTip]="errorTpl">추가정보3 설명
      </app-nz-input-textarea>
    </div>
    <div nz-col nzSpan="12">
      <app-nz-input-textarea
         formControlName="the4AddInfoDesc" itemId="the4AddInfoDesc"
        placeholder="설명을 입력해주세요."
        [rows] = "5"
        [required]="false" [nzErrorTip]="errorTpl">추가정보4 설명
      </app-nz-input-textarea>
    </div>
  </div>

  <!-- 5 row -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <app-nz-input-textarea
         formControlName="the5AddInfoDesc" itemId="the5AddInfoDesc"
        placeholder="설명을 입력해주세요."
        [rows] = "5"
        [required]="false" [nzErrorTip]="errorTpl">추가정보5 설명
      </app-nz-input-textarea>
    </div>
  </div>

</form>

<div class="footer">
  <app-nz-crud-button-group
    [isSavePopupConfirm]="false"
    (searchClick)="get(fg.controls.typeId.value!)"
    (closeClick)="closeForm()"
    (saveClick)="save()"
    (deleteClick)="remove()">
  </app-nz-crud-button-group>
</div>

