{{fg.getRawValue() | json}} - {{fg.valid}}
<form nz-form [formGroup]="fg" nzLayout="vertical">
  <!-- 폼 오류 메시지 템플릿 -->
  <ng-template #errorTpl let-control>
    <ng-container *ngIf="control.hasError('required')">
      필수 입력 값입니다.
    </ng-container>
    <ng-container *ngIf="control.hasError('exists')">
      기존 코드가 존재합니다.
    </ng-container>
  </ng-template>

  <!-- 1 Row -->
  <!--
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="8">
      <app-nz-input-text #staffId
         formControlName="staffId" itemId="contact_staffId"
        placeholder="직원ID를 입력해주세요."
        [required]="true" [nzErrorTip]="errorTpl">직원ID
      </app-nz-input-text>
    </div>

    <div nz-col nzSpan="8">
      <app-nz-input-text
         formControlName="staffNo" itemId="contact_staffNo"
        placeholder="직원번호를 입력해주세요."
        [required]="true" [nzErrorTip]="errorTpl">직원번호
      </app-nz-input-text>
    </div>

    <div nz-col nzSpan="8">
      <app-nz-input-text
         formControlName="staffName" itemId="contact_staffName"
        placeholder="직원명을 입력해주세요."
        [required]="true" [nzErrorTip]="errorTpl">직원명
      </app-nz-input-text>
    </div>
  </div>
  -->

  <!-- 2 Row -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="6">
      <app-nz-input-select
         formControlName="licenseType" itemId="licenseType"
        [options]="licenseTypeList" [opt_value]="'code'" [opt_label]="'codeName'"
        [placeholder]="'Please select'"
        [nzErrorTip]="errorTpl" [required]="true">자격면허
      </app-nz-input-select>

      <!--
      <app-nz-input-text
         formControlName="licenseType" itemId="licenseType"
        placeholder="자격면허를 입력해주세요."
        [required]="true" [nzErrorTip]="errorTpl">자격면허
      </app-nz-input-text>
      -->
    </div>

    <div nz-col nzSpan="6">
      <app-nz-input-text
         formControlName="licenseNumber" itemId="licenseNumber"
        placeholder="자격면허 번호를 입력해주세요."
        [required]="true" [nzErrorTip]="errorTpl">자격면허 번호
      </app-nz-input-text>
    </div>

    <div nz-col nzSpan="6">
      <app-nz-input-date
         formControlName="dateOfAcquisition" itemId="dateOfAcquisition"
        [required]="true" [nzErrorTip]="errorTpl">취득일자
      </app-nz-input-date>
    </div>

    <div nz-col nzSpan="6">
      <app-nz-input-text
         formControlName="certificationAuthority" itemId="certificationAuthority"
        placeholder="인증기관을 입력해주세요."
        [required]="false" [nzErrorTip]="errorTpl">인증기관
      </app-nz-input-text>
    </div>

  </div>

  <!-- 3 Row -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="24">
      <app-nz-input-textarea
         formControlName="comment" itemId="comment"
        placeholder="비고를 입력해주세요."
        [rows]="23"
        [required]="false" [nzErrorTip]="errorTpl">비고
      </app-nz-input-textarea>
    </div>
  </div>

</form>


<div class="footer">
  <app-nz-crud-button-group
    [isSavePopupConfirm]="false"
    [deleteVisible]="true"
    (closeClick)="closeForm()"
    (saveClick)="save()"
    (deleteClick)="remove(fg.controls.staffNo.value!, fg.controls.seq.value!)">
  </app-nz-crud-button-group>
</div>
