{{fg.getRawValue() | json}} - {{fg.valid}}
<form nz-form [formGroup]="fg" nzLayout="vertical">

  <!-- ERROR TEMPLATE-->
  <ng-template #errorTpl let-control>
    <ng-container *ngIf="control.hasError('required')">
      필수 입력 값입니다.
    </ng-container>
  </ng-template>

  <!-- 1 row -->
  <div nz-row nzGutter="8">

    <div nz-col nzSpan="8">
      <app-nz-input-text
         formControlName="staffNo" itemId="duty_staffNo"
        placeholder="직원번호를 입력해주세요."
        [required]="true" [nzErrorTip]="errorTpl">직원번호
      </app-nz-input-text>
    </div>

    <div nz-col nzSpan="8">
      <app-nz-input-text
         formControlName="staffName" itemId="duty_staffName"
        placeholder="직원명을 입력해주세요."
        [required]="true" [nzErrorTip]="errorTpl">직원명
      </app-nz-input-text>
    </div>
  </div>

  <!-- 2 row -->
  <div nz-row nzGutter="8">

    <div nz-col nzSpan="4">
      <app-nz-input-text
         formControlName="seq" itemId="seq"
        placeholder=""
        [required]="true" [nzErrorTip]="errorTpl">순번
      </app-nz-input-text>
    </div>

    <div nz-col nzSpan="6">
      <app-nz-input-select
        formControlName="dutyResponsibilityCode" itemId="dutyResponsibilityCode"
        [options]="dutyResponsibilityCodeList" [opt_value]="'code'" [opt_label]="'codeName'"
        [placeholder]="'Please select'"
        [nzErrorTip]="errorTpl" [required]="true">직책
      </app-nz-input-select>
    </div>

    <div nz-col nzSpan="6">
      <app-nz-input-date
        formControlName="fromDate" itemId="fromDate"
        [required]="true" [nzErrorTip]="errorTpl">시작일
      </app-nz-input-date>
    </div>

    <div nz-col nzSpan="6">
      <app-nz-input-date
        formControlName="toDate" itemId="toDate"
        [required]="false" [nzErrorTip]="errorTpl">종료일
      </app-nz-input-date>
    </div>

    <div nz-col nzSpan="2">
      <app-nz-input-checkbox
        formControlName="isPayApply"
        checkboxText="Y"
        [required]="false">급여적용
      </app-nz-input-checkbox>
    </div>

  </div>
</form>



<div class="footer">
  <app-nz-crud-button-group
    (searchClick)="get(fg.controls.staffNo.value!, fg.controls.seq.value!)"
    (closeClick)="closeForm()"
    (saveClick)="save()"
    (deleteClick)="true">
  </app-nz-crud-button-group>
</div>
